/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-text-color: #000028;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --accent-title-color: #ff0070;
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --page-padding: 10px;
  --page-gap: 40px;
  --main-gap: 50px;
}

@media (width >=700px) {
  :root {
    --page-padding: 20px;
    --page-gap: 60px;
    --main-gap: 80px;
  }

}